
<!-- Portfolio Grid Section -->
<div class="success" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Notre projet</h2>
        <hr class="star-light">
      </div>
    </div>
  </div>
</div>
{% for post in site.posts %}
<section class="row {% cycle 'odd', 'even' %}">
  <div class="container">
    <div class="col-lg-12">
      <h3 style="text-align: center;">{{ post.title }}</h3>
      <p>
      {{post.content}}
      </p>
    </div>
  </div>
</section>
{% endfor %}
